/* Selettori di tag */
h1{
    color: green;
}

/* Selettore di classe */
.section-title{
color: blue;
}
.secondary-title{
    color: aqua;
}

/* Selettori di id */
#title-id{
    color: blueviolet;
}

.sqare{
    height: 150px;
    width: 150px;
}

.banner-section{
    height: 300px;
    background-color: lightblue;
    background-image: url(../img/IMG_20200905_213641.jpg);
    
}